$nav-height: 117px;
$ancho: 100%;
$tipoletra: 'Rubik';
$tamanoletra: 1em;
$color-letra: #333333;
$font-weight: 400;
$color: #92c4d5;
$font-size: 20px;
$position: center;
$margintop-section: 100px;
$colorfondo: rgb(141, 175, 190);
$borderadius: 5px;