<!-- Imagen Slider Menu -->
<div>
    <div class="slider-menu" id="menu">
        <img class="imagen" src="../assets/images/header/header2.jpg" alt="">
        <div class="texto">
            <!--  <span><i class="far fa-compass"></i></span> -->
            <p>Promote Your Ideas</p>
            <p>SO PEOPLE</p>
            <button class="btn button">ENTER NOW</button>
        </div>
    </div>
</div>

<!-- main -->
<main>
    <section class="container section-uno">
        <div class="row">
            <div class="col-12">

                <div class="texto-uno">
                    <h4 class="titulo">¿QUÉ SON LOS ACEITES ESENCIALES Y DE DÓNDE PROCEDEN?</h4>
                    <p>La utilización de aceites esenciales y el conocimiento de sus propiedades curativas remontan a las civilizaciones chinas y egipcias y están consideradas una de las formas más antiguas de medicina y cosmética. A partir de la extracción
                        de aceites esenciales de plantas aromáticas los egipcios hacían pomadas verdaderamente milagrosas.</p>

                    <p>Los griegos también comprendieron los efectos milagrosos del aroma de ciertas flores y plantas. Adquirieron la mayor parte de sus conocimientos a través de los egipcios, que eran excelentes conocedores de sus propiedades. El médico
                        griego Hipócrates, considerado el padre de la medicina, recomendaba muchas veces masajes con aceites esenciales y en sus escritos hace referencia a un vasto número de plantas medicinales.</p>

                    <p>Generación tras generación, diferentes culturas utilizaron plantas para aliviar o curar determinadas enfermedades. Con frecuencia, el estudio de estos conocimientos antiguos se ha convertido en la base de muchos avances en medicina.
                        Actualmente, los científicos encuentran más ingredientes vitales en la naturaleza, confirmando las tradiciones terapéuticas practicadas desde hace siglos.</p>
                </div>
            </div>

            <div class="col-12 fullsize">
                <img class="img" src="../../assets/images/section/imagen15.jpg" alt="">
            </div>
        </div>

    </section>

    <section class="container section-dos">
        <div class="row">
            <div class="col-6 texto-dos">

                <p>Proin eu varius felis. Pellentesque hendrerit elit ornare, ultricies ante eu, vestibulum dui. Quisque venenatis sollicitudin felis eget dictum. Aliquam tincidunt felis orci, ut malesuada ligula malesuada in. Integer lacinia nulla eget
                    nunc lacinia, ac rhoncus velit molestie. Donec sit amet fringilla enim. Nulla facilisi. In hac habitasse platea dictumst. Ut non pulvinar nibh, ids velit. Proin eu varius felis. Pellentesque hendrerit elit ornare, ultricies ante eu,
                    vestibulum dui. Quisque venenatis sollicitudin felis eget dictum. Aliquam tincidunt felis orci, ut malesuada ligula malesuada in. Integer lacinia nulla eget nunc lacinia, ac rhoncus velit molestie. Donec sit amet fringilla enim. Nulla
                    facilisi. In hac habitasse platea dictumst. Ut non pulvinar nibh, ids velit.</p>
                <div>
                    <button class="btn button">VER AHORA</button>
                </div>
            </div>
            <div class="col-6 fullsize">
                <img class="img" src="../../assets/images/section/imagen18.jpg" alt="">
            </div>
        </div>

    </section>

    <section class="container-fluid section-tres">
        <div class="row">
            <div class="col-12">
                <img class="img" src="../../assets/images/section/imagen25.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="container section-cuatro">
        <div class="row">
            <div class="col-12">
                <h5>Using Avada’s Advanced Framework Is Like Being A Kid In A Candy Store.</h5>
                <p>Proin eu varius felis. Pellentesque hendrerit elit ornare, ultricies ante eu, vestibulum dui. Quisque venenatis sollicitudin felis eget dictum. Aliquam tincidunt felis orci, ut malesuada ligula malesuada in. Integer lacinia nulla eget
                    nunc lacinia, ac rhoncus velit molestie. Donec sit amet fringilla enim. Nulla facilisi. In hac habitasse platea dictumst. Ut non pulvinar nibh, ids velit.</p>
            </div>
            <div class="col-12">
                <img class="img" src="../../assets/images/section/botellas1.jpg" alt="">
            </div>
            <div class="col-12">
                <p>Proin eu varius felis. Pellentesque hendrerit elit ornare, ultricies ante eu, vestibulum dui. Quisque venenatis sollicitudin felis eget dictum. Aliquam tincidunt felis orci, ut malesuada ligula malesuada in. Integer lacinia nulla eget
                    nunc lacinia, ac rhoncus velit molestie. Donec sit amet fringilla enim. Nulla facilisi. In hac habitasse platea dictumst. Ut non pulvinar nibh, id maximus velit.</p>
            </div>
        </div>
    </section>

    <!-- CAROUSEL -->
    <section class="container-fluid section-cinco">


        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-md-3  active">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 1" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="../../assets/images/slider/slider1.png" alt="slide 1">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 3" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="../../assets/images/slider/slider2.jpg" alt="slide 2">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 4" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="../../assets/images/slider/slider3.jpg" alt="slide 3">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 5" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="../../assets/images/slider/slider4.jpg" alt="slide 3">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 6" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="../../assets/images/slider/slider5.jpg" alt="slide 3">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 7" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="../../assets/images/slider/slider2.jpg" alt="slide 3">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 8" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="../../assets/images/slider/slider3.jpg" alt="slide 3">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3  ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 2" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="../../assets/images/slider/slider4.jpg" alt="slide 3">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>


    </section>
</main>
<!-- Fin Main -->